<div class="webpack-setup">
	{% comment %}
	Here we are setting up webpack for codesplit
	https://webpack.js.org/configuration/output/#output-publicpath
	{% endcomment %}
	{% capture randomFile %}{{ 'esketit.js' | asset_url }}{% endcapture %}
	{% assign assetsPath = randomFile | split: 'esketit.js' | first %}
	<script>
		window.__webpack_public_path__ = "{{ assetsPath }}"
	</script>
	
	{% unless settings.is_dev_mode %}
		{{ 'main.bundle.js' | asset_url | script_tag }}
	{% else %}
		{% comment %}
		<!-- loaded in header -->
		<script src="//localhost:3000/assets/main.bundle.js" async></script>
		{% endcomment %}
	{% endunless %}

</div>
